@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 40px;
}
.navbar-container ul li{
    display: inline-block;
    margin: 0 10px;
}
.navbar-container ul li a{
    text-decoration: none;
    color: #000;
}
.navbar-container #logo{
    color: #000;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main #content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}